:root {
    --colorPrincipal: #F4F4F9;
    --colorSecundario: #090b42;
    --colorPrincipalBlack: #1e1e1e;
    --colorSecundarioBlack: #2196c7;
    --fuentePrincipal: "Oswald", sans-serif;
    --tamañoLetra: 16px;
    --espacioLetra: 1.5;
    --colorFondo: #ffffff;
    --colorTexto: #000000;
    --colorBorde: #dddddd;
    --colorSombra: #cccccc;
}

/* Estilos generales */
body {
    font-family: var(--fuentePrincipal);
    font-size: var(--tamañoLetra);
    line-height: var(--espacioLetra);
    margin: 0;
    padding: 0;
    background-color: var(--colorFondo);
    color: var(--colorTexto);
    transition: background-color 0.3s, color 0.3s;
}

section {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionGeneral {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    font-size: 2rem;
    text-align: start;
    margin: 5px auto;
    display: block;
    color: var(--colorSecundario);
}

header {
    padding: 1.5rem 3.5rem;
    background-color: #ffffff;
    color: var(--colorSecundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    height: 5vh;
    transition: background-color 0.3s;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;
    justify-content: flex-start;
}

nav ul li {
    display: inline;
}

nav ul li .linkNavs {
    text-decoration: none;
    color: var(--colorSecundario);
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    font-size: 1.5rem
}

nav ul li a:hover, nav ul li a:focus {
    color: rgb(13, 173, 144);
    border-bottom: 2px solid var(--colorPrincipalBlack);
}

#contact-button {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#SobreMi p {
    font-size: 2rem;
}

#Conocimiento_General {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    background-image: linear-gradient(rgba(42, 2, 61, 0.5), rgba(0, 0, 0, 0.5)), url(./fondos.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#Conocimiento_General h1 {
    color: var(--colorPrincipal);
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-weight: 800;
    padding-top: 10vh;
}

#Conocimiento_General p {
    font-size: 3rem;
    text-align: center;
    width: 80%;
    line-height: 1.6;
    margin: 2rem auto;
}

.links-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    margin: 0 auto;
    justify-content: space-evenly;
}

.links img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transition: transform 0.2s;
    padding: 5px;
    margin: 5px;
}

.links img:hover {
    transform: scale(1.1);
}

.links span {
    color: #000000;
    font-size: 1rem;
}

.informacion {
    flex: 1;
    padding: 1rem;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

button {
    cursor: pointer;
    padding: 0.5em;
    border: none;
    background: none;
    font-size: 1.2em;
}

.tecnologias {
    background-color: var(--colorPrincipal);
    color: #d32f2f;
}

.tecnologias h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.skill {
    background-color: #1e1e1e;
    padding: 0.5rem 1rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
    text-align: center;
    border: 2px solid var(--colorPrincipal);
}

.skill img {
    width: 24px;
    height: 24px;
}

.skill span {
    color: #ffffff;
    font-size: 1.5rem;
}

.skill:hover {
    transform: scale(1.05);
}

.proyectos {
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 5rem;
    flex-direction: row;
    align-content: flex-start;
}

.project {
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 1rem;
    width: calc(45% - 1rem);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.project h2 {
    color: #ffffff;
    margin-bottom: 0.5rem;
}

.project p {
    color: #b0b0b0;
    margin-bottom: 1rem;
}

.technologies {
    margin-bottom: 1rem;
}

.technologies span {
    display: inline-block;
    background-color: transparent;
    color: #6b4eff;
    border: 1px solid #6b4eff;
    border-radius: 12px;
    padding: 0.3rem 0.7rem;
    margin: 0 0.2rem;
    font-size: 0.9rem;
}

.project img {
    width: 100%;
    border-radius: 8px;
}

.botones {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.boton {
    background-color: #444a5a;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.9em;
    transition: background-color 0.3s;
    width: 150px;
    height: 20px;
}

.boton:hover {
    background-color: #626b82;
}

body.dark {
    background-color: var(--colorPrincipalBlack);
    color: #ffffff;
}

body.dark header {
    background-color: var(--colorPrincipalBlack);
}

body.dark header nav ul li .linkNavs {
    color: var(--colorSecundarioBlack);
}

body.dark header #contact-button{
    background-color: var(--colorSecundarioBlack);
}


body.dark section {
    border-color: #000000;
}

body.dark section .titulo {
    color: var(--colorSecundarioBlack);
}

/* Estilos para responsividad */
@media (max-width: 768px) {
    .project {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .project {
        width: 100%;
    }
    .project img {
        width: 100%;
    }
}
